{#
/**
 * @file
 * Theme override to display a UMD Terp Stat Group Paragraph.
 */
#}

{% block paragraph %}
  <div{{attributes.setAttribute('id','umd_terp_paragraph--'~paragraph.id())}} aria-live="polite">
    {% block content %}
      <div class="umd-layout-grid-gap-two">
        {{ content.field_ut_stat_group_stats }}
      </div>
    {% endblock %}
    {{ content|without('field_ut_stat_group_stats') }}
  </div>
{% endblock paragraph %}
