{#
/**
 * @file
 * Theme override to display a UMD Terp Stat Paragraph.
 */
#}

{%
  set brightness = 'light'
%}

<umd-element-stat display-type="block" theme="{{ brightness }}">
	<div slot="stat">{{ content.field_ut_stat_value|field_value }}</div>
	<div slot="text">
		{{ content.field_ut_stat_text|field_value }}
	</div>
</umd-element-stat>
