{#
/**
 * @file
 * Theme override to display a UMD Terp Card Group Paragraph.
 */
#}

{%
  set columns = paragraph.field_ut_card_group_columns.value
%}
{% if columns == '2' %}
  {% set col_class = 'umd-layout-grid-gap-two'%}

{% elseif columns == '3' %}
  {% set col_class = 'umd-layout-grid-gap-three'%}

{% elseif columns == '4' %}
  {% set col_class = 'umd-layout-grid-gap-four'%}
{% else %}
  {% set col_class = 'umd-layout-grid-gap-three'%}

{% endif %}

{% block paragraph %}
  <div{{attributes.setAttribute('id','umd_terp_paragraph--'~paragraph.id())}}>
    {% block content %}
      <div class="{{ col_class }}">
        {{ content.field_ut_card_group_cards }}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
