{#
/**
 * @file
 * Theme override to display a UMD Terp Slideshow Paragraph.
 */
#}

{%
  set classes = [
    'slideshow-bg',
    paragraph.field_ut_slideshow_style.value ? paragraph.field_ut_slideshow_style.value|clean_class,
  ]
%}

{% set style = paragraph.field_ut_slideshow_style.value %}

{% if style == 'slideshow-bg-default' %}
	{% set brightness = ''%}
{% else %}
	{% set brightness = 'dark'%}
{% endif %}

{% block paragraph %}

	<div{{attributes.addClass(classes).setAttribute('id','umd_terp_paragraph--'~paragraph.id())}} aria-live="polite">
		{% block content %}
			<umd-element-carousel-image resize="" data-theme="{{ brightness }}">
				{{ content.field_ut_slideshow_items|field_value }}
			</umd-element-carousel-image>
		{% endblock %}
		{{ content|without('field_ut_slideshow_items', 'field_ut_slideshow_style') }}
	</div>
{% endblock paragraph %}
