{#
/**
 * @file
 * Theme override to display a UMD Terp Link Paragraph.
 */
#}

{% set brightness = 'light' %}

{% if content.field_ut_link_link.0 %}
    {% set link = content.field_ut_link_link.0 %}
		<umd-element-call-to-action slot="actions" data-display="secondary" data-visual-size="standard" data-theme="{{ brightness }}">
			<a href="{{ link['#url'] }}" target="{{ link['#options'].attributes.target|default('_self') }}">
				{{ link['#title'] }}
			</a>
		</umd-element-call-to-action>
{% endif %}