{#
/**
 * @file
 * Theme override to display a UMD Terp Accordion Paragraph.
 */
#}

{% block paragraph %}
	<div{{attributes.setAttribute('id','accordion-'~paragraph.id())}}>
		{% block content %}
			<umd-element-accordion>
				{% set _loop_index = 0 %}
				{% for key, item in content.field_ut_accordion_items %}
					{% if key|first != '#' %}
						{% set expanded = (_loop_index == 0) and (paragraph.field_ut_accordion_open_first.value) %}
						<umd-element-accordion-item data-visual-open="{{ expanded ? 'true' : 'false' }}" resize="" data-theme="light">
							<p slot="headline">{{ item['#paragraph'].field_ut_accordion_item_title.value }}</p>
							<div slot="text" class="editor-content">
								{% include directory ~ '/templates/helpers/paragraph-content.html.twig' with { 'item': item, 'content': item['#paragraph'].field_ut_accordion_item_content } %}
							</div>
						</umd-element-accordion-item>
						{% set _loop_index = _loop_index + 1 %}
					{% endif %}
				{% endfor %}
			</umd-element-accordion>
		{% endblock %}
	</div>
	{{ content|without('field_ut_accordion_items', 'field_ut_accordion_open_first') }}
{% endblock paragraph %}
