{#
/**
 * @file
 * Theme override to display a UMD Terp Tabs Paragraph.
 */
#}

{% block paragraph %}
	<div{{attributes.addClass(classes).setAttribute('id','umd_terp_paragraph--'~paragraph.id())}} aria-live="polite">
		{% block content %}

			<umd-element-tabs data-theme="light" resize>
				<div slot="tabs">
					{% for key, item in content.field_ut_tabs_items %}
						{% if key|first != '#' %}
							<div data-title="{{ item['#paragraph'].field_ut_tabs_item_title.value }}">
								{% include directory ~ '/templates/helpers/paragraph-content.html.twig' with { 'item': item, 'content': item['#paragraph'].field_ut_tabs_item_content } %}
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</umd-element-tabs>

		{% endblock %}
		{{ content|without('field_ut_tabs_items') }}
	</div>
{% endblock paragraph %}
